:root {
  --dark: #131415;
  --blue: #118AB2;
  --white: #fafafa;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--dark);
  font-family: 'Rubik', sans-serif;
  height: 100vh;
}


.main{
  display: flex;
  justify-content: center;
  align-items: center;
}

.main h1{
  font-size: 30px;
  color: var(--white)
}

